$theme-colors: (
    "info": tomato
);

$enable-responsive-font-sizes: true !default;

$headings-font-family:  'rubik', sans-serif !default;

$font-weight-lighter:         100 !default;
$font-weight-light:           300 !default;
$font-weight-normal:          300 !default;
$font-weight-bold:            600 !default;
$font-weight-bolder:          800 !default;

$headings-font-weight:        500 !default;

$display1-weight:             600 !default;
$display2-weight:             600 !default;
$display3-weight:             600 !default;
$display4-weight:             600 !default;


$display1-size:               4.5rem !default;
$display2-size:               4rem !default;
$display3-size:               3.5rem !default;
$display4-size:               2.5rem !default;

$link-color:  #6610f2 !default;
$primary:    #6610f2 !default;

$btn-border-radius:            25rem !default;
$btn-border-radius-lg:         30rem !default;
$btn-border-radius-sm:         20rem !default;


$input-btn-padding-y:         .5rem !default;
$input-btn-padding-x:         1.5rem !default;

$input-btn-padding-y-sm:      .3rem !default;
$input-btn-padding-x-sm:      1.2rem !default;

$input-btn-padding-y-lg:      1rem !default;
$input-btn-padding-x-lg:      3rem !default;


@import "~bootstrap/scss/bootstrap";


h1, h2, .h1, .h2 {
	font-weight: $font-weight-bolder;
}

h3, .h3 {
	font-weight: $font-weight-bold;
}



.navbar {
	background-color: transparent !important;
	padding: 0.25rem 1rem !important;
	transition: all .3s ease-in-out;
	.nav-item {
		margin: 0 5px;
		color: #fff;
	}
	.nav-link {
		color: #fff !important;
	}
	&.sticked-menu {
		background-color: rgba(62,2,160,.8) !important;
		box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
		backdrop-filter: blur(4px);
		-webkit-backdrop-filter: blur(4px);
		transition: all .3s ease-in-out;
	}
}


.banner-wrapper {
	background: #3e02a0;
	color: $white;
	padding: 10rem 0 4rem;
}

.bannerimg {
	width: 100%;
	max-width: 1000px;
	height: auto;
}


.light-blue {
	background-color: #f9fafe;
	clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px calc(100% - 5vw));
}

.white-bg {
	clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px calc(100% - 5vw));
}

.section {
	padding: 5rem 0 8rem;
}


.footer-link {
	list-style: none;
	padding: 0;
	margin: 0 0 8px;
	a {
		padding-left: 0;
	}
}

footer {
	background-color: #f9f9f9;
	.resources, .company {
		flex: 0 1 220px;
	}
}




.sociallist {
	list-style: none;
	padding: 0;
	margin: 10px  0;
	display: flex;
	align-items: center;
	li {
		margin-left: 10px;
		&:first-child {
			margin-left: 0;
		}
		a {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 30px;
			height: 30px;

			svg {
				width: 22px;
				height: 22px;
			}

			&:hover {
				.fill-circle {
					background-color: $gray-600;
				}
			}
		}
	}
}


// Helper

.fill-circle {
	border-radius: 50%;
	background-color: $gray-900;
	color: $white;
}
